<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About | First Aid Assistant</title>
  <link rel="stylesheet" href="/static/css/about.css">
</head>
<body>
  <header>
    <nav>
      <h1>Vencher's First Aid Assistant</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="guide.html">Guide</a></li>
        <li><a href="emergency.html">Emergency</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </header>

  <section class="about">
    <h2>About Us</h2>
    <p>We created this assistant to offer reliable and fast medical guidance during emergencies. Whether you're at home, school, or outside, this app is here to help you take the right steps quickly.</p>
  </section>
  <section class="whyfirstaid">
    <h2>Why First Aid Matters</h2>
    <p>
        Accidents can happen anywhere, anytime — at home, work, or in public. In those first few minutes, 
        immediate action can mean the difference between life and death.
    </p>
    <h3>
        First Aid empowers people to:
    </h3>
        <div class="firstaid-boxes">
        <div class="row">
            <div class="box">Act fast in emergencies</div>
            <div class="box">Lower injury impact</div>
        </div>
        <div class="row">
            <div class="box">Help save lives</div>
            <div class="box">Stay calm, take charge</div>
        </div>
        </div>
    <p>
        Whether it’s a burn, cut, fall, or sudden illness, basic knowledge of first aid can help stabilize a person’s condition and prevent further harm.
    </p>
    <p>
        Your safety and the safety of your loved ones start with awareness and preparation — and that’s exactly what our Online First Aid Assistant provides.
    </p>

  </section>
  <section class="features">
    <h2>Key Features</h2>
    <div class="fcontainer">
    <div class="feature-card">⚕️ First Aid Guide</div>
    <div class="feature-card">🚑 Emergency Numbers</div>
    <div class="feature-card">🧾 Health Tips</div>
    </div>
  </section>
  <section class="works">
    <h2>How It Works</h2>
    <p>Users can choose an emergency such as burns, bleeding, or choking, then follow clear step-by-step first aid instructions. They’ll know when to call emergency services, and both users and admins can manage profiles and update content easily.</p>
  </section>
  <section class="mission">
    <h2>Our Mission</h2>
    <p>We aim to empower every individual with instant access to life-saving knowledge and emergency contacts.</p>
  </section>

  <footer>
    <p>© 2025 Online First Aid Assistant | Designed by Ben-Vencher</p>
  </footer>
</body>
</html>