<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
        <link rel="stylesheet" href="/static/css/contact.css">
<body>
    <header>
        <h1>Contact Details</h1>
    </header>
    <div class="main">
    <div class="parent-container">
        <div class="details-container">
            <h2>contact us</h2>
        <input type="text" placeholder="Enter The Name">
        <input type="email" placeholder="Enter The E-mail id">
        <input type="number" placeholder="Enter Phone-No">
        <textarea name="" placeholder="message"></textarea>
        <button class="contact-btn">Sent Message</button>
        </div>
        <div class="img-container">
            <img src="/assets/img1contact.jpg" alt="no=load">
        </div>
    </div>
    </div>

</body>
</html>


