<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Online First Aid Assistant</title>
  <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>

  <header>
    <nav>
      <h1>Vencher's First Aid Assistant</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="guide.html">Guide</a></li>
        <li><a href="emergency.html">Emergency</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h2>Your Digital First Aid Companion</h2>
      <p>Get quick, reliable first aid guidance during emergencies.</p>
      <a href="guide.html" class="btn">Explore Guides</a>
    </section>

    <section class="features">
      <div class="container">
          <div class="feature-box">
        <h3>Instant Help</h3>
        <p>Use emergency tools like SOS sound, GPS and contact numbers.</p>
      </div>
      <div class="feature-box">
        <h3>First Aid Guide</h3>
        <p>Learn how to respond to injuries, burns, and more.</p>
      </div>
      <div class="feature-box">
        <h3>User Dashboard</h3>
        <p>Track saved guides and your emergency history.</p>
      </div>
      </div>
     
    </section>
  </main>

  <footer>
    <p>© 2025 Online First Aid Assistant | Designed by Ben-Vencher</p>
  </footer>

</body>
</html>


